/* Copyright (c) 2015, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "apq8016-var-sd410-sciaps-ngx-ampteck-dpp2.dtsi"
#include "apq8016-camera-sensor-var-sd410-sciaps-btx.dtsi"

&cci {

	actuator0: qcom,actuator@0 {
		status = "disabled";
	};

	eeprom0: qcom,eeprom@20 {
		status = "disabled";
	};

	qcom,camera@42 {
		status = "disabled";
	};
};

&soc {
	i2c@78b8000 { /* BLSP1 QUP4 */
        ie-battery@b {
			//status = "okay";
            status = "disabled";
		};
        ie-charger@9 {
			//status = "okay";
            status = "disabled";
		};
		battery@0x64 {
			//status = "okay";
            status = "disabled";
		};
        ie-nh3054hd34-battery@b {
            compatible = "nh2054";
            reg = <0xb>;
            //sciaps,support-shutdown = <1>;
            //sciaps,shutdown-timer   = <25>;
            //sciaps,capacity-low-thres-mAh = <10>;
            //sciaps,capacity-low-thres = <5>; // 0.5 %
            //sciaps,voltage-crit-low-thres-mV = <11000>;
            //sciaps,voltage-low-thres-mV = <14000>;
            //status = "disabled";
			status = "okay";
        };

        ie-charger@9 {
            compatible = "ltc1760";
            reg = <0xa>;
            //status = "disabled";
			status = "okay";
        };
	};
};

